<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Unknown Piranha</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li><a {{ action 'invalidateSession' }} href="#">Logout</a></li>
        {{else}}
          <li>{{link-to "Sign In" "users.sign-in"}}</li>
          <li>{{link-to "Sign Up" "users.sign-up"}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
