<div class="container-fluid">
  <div class="row">
    {{liquid-outlet class="new-place-panel"}}
    <div class="col-md-4">
      <h4>Where you want find piranha?</h4>
      <div class="input-group">
        {{input value=searchArea class="form-control"}}
      </div>
      <br>
      {{#unless isNotAuthenticated}}
        {{link-to "Add new place" "places.index.new" class="btn btn-primary"}}
      {{/unless}}
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Places index</h4>
        </div>
      </div>

    {{#ember-list items=model height=400 rowHeight=10 width=400}}
      <div class="panel panel-default clickable-panel" {{action "focusOnPlace" place on="click"}}>
        <div class="panel-body">
          <h4>{{name}}</h4>
          <h5>description:</h5>
          <p>{{description}}</p>
        </div>
      </div>
    {{/ember-list}}

<!--       {{#each place in model}}
        {{#unless place.isNew}}
          <div class="panel panel-default clickable-panel" {{action "focusOnPlace" place on="click"}}>
            <div class="panel-body">
              <h4>{{place.name}}</h4>
              <h5>description:</h5>
              <p>{{place.description}}</p>
            </div>
          </div>
        {{/unless}}
      {{/each}} -->

    </div>
    <div class="col-md-8">
      {{google-map markerInfoWindowTemplateName='map/info-window'
                   markers=markers
                   markerViewClass='map/marker'
                   lat=centerLat
                   lng=centerLng
                   zoom=zoom
                   type='road'}}
    </div>
  </div>
</div>
